body {
	width: 100%;
}

div.main-container {
	width: 480px;
	margin-left: auto;
	margin-right: auto;

}

h1 {
	font-family: "Roboto Condensed", sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}