body * {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0;
}
div.navigation {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1.5em;
	font-weight: 100;
	position: fixed;
	top: 20px;
	left: 20px;
}

div.navigation ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div.navigation ul li.semi-active {
	font-weight: 500;
	font-size: 1.3em;
	-webkit-transition: font-size .2s ease, font-weight .2s ease;
	transition: font-size .2s ease, font-weight .2s ease;
}
div.navigation ul li.active {
	font-weight: 500;
	font-size: 1.5em;
	-webkit-transition: font-size .2s ease, font-weight .2s ease;
	transition: font-size .2s ease, font-weight .2s ease;
}
div.navigation ul li a {
	text-decoration: none;
	color: black;
}

div.main-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 768px;
}

.main-photo {
	display: block;
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid black;
}

h1 {
	font-family: "Roboto Condensed", sans-serif;
}
h2 {
	font-family: "Roboto Condensed", sans-serif;
	text-align: center;
	font-size: 2em;

}

p {
	font-family: 'Roboto', sans-serif;
	line-height: 200%;
	font-weight: 300;
	//font-size: 1.05em;
	font-size: 1em;

}
p.about {
	text-align: center;
	line-height: 100%;
}
p.about a {
	text-decoration: none;
	color: orangered;
	font-weight: 700;
}

p.about a:hover {
	text-decoration: underline;
}

.project-thumbnail {
	border: 1px solid;
	float: left;
	display: block;
	width: 31.33333333%;
	min-width: 200px;
	margin: 1%;
}