body * {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0;
}

div.main-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 768px;
}

.main-photo {
	display: block;
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid black;
}

h1 {
	font-family: "Roboto Condensed", sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
	line-height: 200%;
}
a.resume-link {
	color: black;
	text-decoration: none;
}
#box {
	background-image: url('resume_snapshot.png');
	background-size: 100%;
	width: 100%;
	height: 210px;
	border: 2px solid;
	margin-bottom: 40px;
}

#overlay {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	background: rgba(0,0,0, .85);
	opacity: 0;
	text-align: center;
	height: 208px;
	padding: 85px;
	color: white;
	-webkit-transition: opacity .25s ease;
	transition: opacity .25s ease;
}
#box:hover #overlay {
	opacity: 1;
}